.line {
  margin: 0 -4px;
  width: 15px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: black;
  display: block;
  flex-shrink: 0;
  clip-path: polygon(
    0% 35%,
    0% 20%,
    0% 0%,
    0% 100%,
    0% 90%,
    0% 75%,
    10% 68%,
    20% 63%,
    30% 60%,
    40% 58%,
    50% 57%,
    60% 58%,
    70% 60%,
    80% 63%,
    90% 68%,
    100% 75%,
    100% 90%,
    100% 100%,
    100% 0%,
    100% 10%,
    100% 25%,
    90% 32%,
    80% 37%,
    70% 40%,
    60% 42%,
    50% 43%,
    40% 42%,
    30% 40%,
    20% 37%,
    10% 35%
  );
}
